{
  "presets": ["@nrwl/next/babel"],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
